<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">Chart JS</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">


    </div>
</nav>
<div class="container">
    <div class="row my-5">
        <div class="col-md-12">
            <h1 class="my-5">Dashboard</h1>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-md-6 my-5">
            <app-chart></app-chart>
        </div>
        <div class="col-md-6 my-5">
            <app-chart></app-chart>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-md-12">
            <app-chart></app-chart>
        </div>
    </div>
</div>